@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Playfair Display";
  src: url("../assets/fonts/PlayfairDisplay-Medium.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Light";
  src: url("../assets/fonts/Roboto-Light.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@layer base {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .icons-menu:hover svg path {
    @apply fill-gray-light; 
  }
  .container-1280 {
    @apply max-w-screen-xl mx-auto;
  }

  .btn-default {
    @apply p-4 bg-golden-dark hover:bg-golden text-white font-playfair transition-colors hover:underline;
  }

  h1 {
    @apply font-playfair text-7xl;
  }

  h2 {
    @apply font-playfair text-5xl text-golden-dark;
  }

  h3 {
    @apply font-playfair text-2xl text-golden-dark;
  }
  
  h4 {
    @apply font-roboto text-2xl leading-none text-golden-dark;
  }

  p {
    @apply font-roboto text-gray-dark;
  }


}
